[profile.default]
solc_version = "0.8.30"
evm_version = "prague"
src = "src"
out = "out"
libs = ["lib"]
optimizer = true
optimizer_runs = 200

remappings = [
    "@openzeppelin/=lib/openzeppelin-contracts/",
    "solady/=lib/solady/src/",
    "forge-std/=lib/forge-std/src/",
    "@stork-oracle/=lib/stork-external/contracts/evm/src/",
]
